@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$color-pramiry: #22254b;
$color-ligth: #373b69;

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins";
	background-color: $color-pramiry;
}

header {
	height: 7rem;
	background-color: $color-ligth;
	display: flex;
	align-items: center;
	text-align: right;

	#form {
		margin: 0 auto;
	}

	.search {
		height: 4rem;
		padding: 0 2rem;
		border-radius: 3rem;
		width: 25rem;
		font-family: inherit;
		border: #22254b 2px solid;
		background-color: #373b69;
		color: white;
		font-size: 1.5rem;

		&::placeholder {
			color: #7378c5;
		}

		&:focus {
			outline: none;
		}
	}
}

.App {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.card {
		overflow: hidden;
		width: 30rem;
		color: white;
		margin: 1rem;
		background-color: $color-ligth;
		border-radius: 3px;
		position: relative;

		img {
			width: 100%;
			text-align: center;
		}

		.contant {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.5rem 1rem 1rem;

			h3 {
				margin: 0;
			}

			.vote {
				background-color: #22254b;
				border-radius: 3px;
				font-weight: bold;
				padding: 0.25rem 0.5rem;

				&.green {
					color: green;
				}
				&.orange {
					color: orange;
				}
				&.red {
					color: red;
				}
			}
		}

		.overview {
			font-size: 1.6rem;
			padding: 2rem;
			background-color: white;
			color: #000;
			position: absolute;
			max-height: 100%;
			overflow: auto;
			left: 0;
			bottom: 0;
			right: 0;
			transform: translateY(101%);
			transition: all 0.3s ease-in;
		}
		&:hover .overview {
			transform: translatex(0);
		}
	}
}
